{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'app_auth/css/authStyle.css' %}">
{% endblock %}

{% block content %}

    <h2 class="centerHeader">Password reset</h2>
    <p class="centerParagraph">Did you forget your password? Enter your email and you will receive
        instructions on how to reset</p >
    <form action="" class="centerScreen" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group row">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                {{ form.email|addclass:'form-control' }}
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Reset password">
    </form>
{% endblock %}