{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'app_auth/css/authStyle.css' %}">
{% endblock %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.new_password1.errors }}
                <label for="{{ form.id_for_new_password1 }}" class="col-sm-2 col-form-label">New password</label>
                <div class="col-sm-10">
                    {{ form.new_password1 | addclass:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                {{ form.new_password1.errors }}
                <label for="{{ form.id_for_new_password2 }}" class="col-sm-2 col-form-label">Confirm</label>
                <div class="col-sm-10">
                    {{ form.new_password2 | addclass:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-success" value="Send">
            </div>
        </form>
    {% else %}
        <h3 class="centerHeader">Password reset failed</h3>
        <p class="centerParagraph">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}