{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'app_auth/css/authStyle.css' %}">
{% endblock %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
    </form>
    <h3 class="centerHeader">Change Password</h3>
    <form action="" class="centerScreen" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group row">
            {{ form.old_password.errors }}
            <div class="col-sm-12">
                {{ form.old_password | addPlaceholder:'Old password' | addclass:'form-control' }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.new_password1.errors }}
            <div class="col-sm-12">
                {{ form.new_password1|addPlaceholder:'New password'|addclass:'form-control' }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.new_password2.errors }}
            <div class="col-sm-12">
                {{ form.new_password2|addPlaceholder:'Confirm new password'|addclass:'form-control' }}
            </div>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-success" value="Send">
        </div>
    </form>
{% endblock %}